<!DOCTYPE html>
<html>
  <head>
    <title><%= Nama_Produk %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= Nama_Produk %></h1>
    <p>Welcome to <%= Nama_Produk %></p>
  </body>
</html>
